#include<windows.h>
#include "OGL.h"

MYICON ICON MyIcon.ico

CUBE_FRONT_BITMAP BITMAP front.bmp
CUBE_BACK_BITMAP BITMAP back.bmp
CUBE_LEFT_BITMAP BITMAP left.bmp
CUBE_RIGHT_BITMAP BITMAP right.bmp
CUBE_TOP_BITMAP BITMAP top.bmp
CUBE_BOTTOM_BITMAP BITMAP bottom.bmp

FRAME_01 BITMAP Frame_01.bmp
FRAME_02 BITMAP Frame_02.bmp
FRAME_03 BITMAP Frame_03.bmp
FRAME_04 BITMAP Frame_04.bmp
FRAME_05 BITMAP Frame_05.bmp
FRAME_06 BITMAP Frame_06.bmp
FRAME_07 BITMAP Frame_07.bmp

MYSOUND SOUND Music.wav
