#include<windows.h>
#include "OGL.h"

MYICON ICON MyIcon.ico

BODY BITMAP body.bmp
PHOTOM BITMAP photom.bmp
SHORTS BITMAP shorts.bmp
SKIN BITMAP skin.bmp
FOOTPATH BITMAP skin.bmp

CUBE_FRONT_BITMAP	BITMAP  front.bmp
CUBE_BACK_BITMAP	BITMAP  back.bmp
CUBE_LEFT_BITMAP	BITMAP  left.bmp
CUBE_RIGHT_BITMAP	BITMAP  right.bmp
CUBE_TOP_BITMAP	    BITMAP  top.bmp
CUBE_BOTTOM_BITMAP  BITMAP  bottom.bmp
